<div class="isup" id="consulting" data-magellan-destination="consulting">
  <div class="large-12">
    <h2 style="">Full-stack web developer in New York City.</h2>
    <h3>Not currently for hire.</h3>
  </div>
  <div class="row"></div>
  <div class="large-12">
    <div class="large-2 large-push-10 column">
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
      <div class="large-12 time-block">
        <div class="large-6 column"></div>
        <div class="large-6 column"></div>
      </div>
    </div>
    <div class="large-10 large-pull-2 column">
      <ul class="large-block-grid-2 medium-block-grid-2">
        <% @portfolios.each do |portfolio| %>
          <li>
            <div class="box-color padded-1">
              <%= link_to portfolio do %>
              <%= image_tag portfolio.image %>
              <%= portfolio.title %>
              <%= portfolio.description %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
