
<div id="contact" data-magellan-destination="contact">
    <div class="row contactWrapper ">
      <div id="contactForm" class="contactForm large-6 small-10">
        <h2 class="green-topborder">Moshi Moshi.</h2>
        <form action="MAILTO:lkbgift@gmail.com" method="post" enctype="text/plain">
          <label>Your Name</label>
          <input type="text" name="Name" placeholder="James Brown" data-cip-id="cIPJQ342845639">
            <div class="row">
              <div class="large-6 columns">
                <label>Location</label>
                <input type="text" name="Location" placeholder="Zurich, Switzerland" data-cip-id="cIPJQ342845640">
              </div>
              <div class="large-6 columns">
                <label>Contact</label>
                <input type="text" name="Phone" placeholder="(+##)-###-###-####" data-cip-id="cIPJQ342845641">
              </div>
            </div>
            <label></label>
            <textarea placeholder="Once upon a time..." name="Message"></textarea>
            <input type="submit" class="large success radius button even large-12" value="Lets Talk.">
          </form>
        </div>
      </div>
    </div>
