<h1>Filler</h1>
<div id="masonary-context">
  <% @creatives.reverse_each do |creative| %>
    <div class="item">
      <div class="box-color">
        <h3><%= creative.title %> </h3>
        <p class="d-inline mb0"><%= creative.image %>, <%= creative.url %></p>
        <p class="d-inline"><%= creative.description %></p>
      </div>
    </div>
  <% end %>
</div>
