<h1>Filler</h1>

<ul class="large-block-grid-1 small-block-grid-1">
  <% @creatives.reverse_each do |creative| %>
    <li>
      <div class="box-color">
        <h3><%= creative.title %> </h3>
        <p class="d-inline mb0"><%= creative.image %>, <%= creative.url %></p>
        <p class="d-inline"><%= creative.description %></p>
      </div>
    </li>
  <% end %>
</ul>
