<div class="" id="consulting" data-magellan-destination="consulting">
  <div class="row">
    <div class="large-12 column text-center">
      <div class="hero independent text-center">
        <h1 class="bold-header red-highlight">Remember Lenny</h1>
        <h2 style="">Full-stack web developer in New York City.</h2>
      </div>
      <div class="header">
        <a href="mailto:lkbgift@gmail.com" class="button success radius large">Lets work together</a>
      </div>
  </div>
</div>

<div class="" id="consulting" data-magellan-destination="consulting">
  <hr>
  <div class="row">
    <div class="large-10 large-offset-1 column text-center">
      <div class="header">
        <h2 class="blue-topborder inline-block">Specialty</h2>
      </div>
      <div class="large-3 column small-12">
        <h3>Responsive Design</h3>
        <p>
        Serve a complete website to any user's device.
        </p>
      </div>
      <div class="large-3 column small-12">
        <h3>WordPress</h3>
        <p>
        All themes are personally designed and coded.
        </p>
      </div>
      <div class="large-3 column small-12">
        <h3>UX Research</h3>
        <p>
        Make intelligent decisions based on user data.
        </p>
      </div>
      <div class="large-3 column small-12">
        <h3>E-commerce</h3>
        <p>
        Sell and manage products from your website.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="" id="consulting" data-magellan-destination="consulting">
  <hr>
  <div class="row">
    <div class="large-10 large-offset-1 column text-center">
      <div class="header">
        <h2 class="blue-topborder inline-block">Services</h2>
      </div>
      <div class="large-4 column">
        <div class="consulting-item">
 
          <h3>Project Management</h3>
          <p class="text-left">Research, planning, and milestone execution consulting are available. In-progress and new projects are welcomed. Experience with in-house and outsourced teams.</p>
        </div>
      </div>
      <div class="hide-for-large-up">
        <hr class="hide-for-medium show-for-small-down"> 
      </div>
      <div class="large-4 column">
        <div class="consulting-item">

          <h3>Analysis and Report</h3>
          <p class="text-left">Code audits, speed analysis, and search result targeted syntax review. Websites are analyzed to produce in-depth reports for improvement. Experience with large international brands.</p>
        </div>
      </div>
      <div class="hide-for-large-up">
        <hr class="hide-for-medium show-for-small-down"> 
      </div>
      <div class="large-4 column">
        <div class="consulting-item">

          <h3>Topic Training adfljhdafj</h3>
          <p class="text-left">Front-end best practices, web development introduction, and team organization. Emphasis on modern best practices and current technology trends.</p>
        </div>
      </div>
      <div class="hide-for-large-up">
        <hr class="hide-for-medium show-for-small-down"> 
      </div>
    </div>
  </div>
</div>
<div id="contact" data-magellan-destination="contact">
  <hr>
    <div class="row contactWrapper independent">
      <div id="contactForm" class="contactForm column large-offset-3 large-6 centered small-10 small-offset-1">
        <h2 class="green-topborder">Moshi Moshi.</h2>
        <form action="MAILTO:lkbgift@gmail.com" method="post" enctype="text/plain">
          <label>Your Name</label>
          <input type="text" name="Name" placeholder="James Brown" data-cip-id="cIPJQ342845639">
            <div class="row">
              <div class="large-6 columns">
                <label>Location</label>
                <input type="text" name="Location" placeholder="Zurich, Switzerland" data-cip-id="cIPJQ342845640">
              </div>
              <div class="large-6 columns">
                <label>Contact</label>
                <input type="text" name="Phone" placeholder="(+##)-###-###-####" data-cip-id="cIPJQ342845641">
              </div>
            </div>
            <label></label>
            <textarea placeholder="Once upon a time..." name="Message"></textarea>
            <input type="submit" class="large success radius button even large-12" value="Lets Talk.">
          </form>
        </div>
      </div>
    </div>