<div class="home-page">
  <h1 class="margin-pt5mb">Hey! Im Lenny.</h1>
  <p>Im an <a href="http://flickr.com/horsegoo">artist</a>, <a href="http://github.com/rememberlenny">programmer</a>, <a href="http://blog.rememberlenny.com/">writer</a>, and student. I like <%= link_to 'side projects', creations_path %>.</p>
  <p>Right now, I work at <a href="http://condenast.com">Conde Nast</a>, and do awesome stuff on the <a href="http://newyorker.com">New Yorker</a> web team.</p>
  <p><%= link_to 'Reach out', contact_path, :class => 'button secondary small radius' %></p>
</div>
