<div class="home-page">
  <h1 class="margin-pt5mb">Hey! Im Lenny.</h1>
  <p>I work at <a href="http://condenast.com">Conde Nast</a>, and do awesome stuff on the <a href="http://newyorker.com">New Yorker</a> web team.</p>
  <p>I like <%= link_to 'side projects', creations_path %> and keep a <a href="http://blog.rememberlenny.com">blog</a>.</p>
  <p><%= link_to 'Reach out', contact_path, :class => 'button secondary small' %></p>
</div>
