<div class="home-page" style="margin-left: -6px;">
  <img src="http://i.imgur.com/kEQS5tO.jpg" alt="">
  <h1 class="margin-pt5mb">Hey! Im Lenny.</h1>
  <p>Im an <a href="https://www.flickr.com/photos/horsegoo/sets/72157628284619571">painter</a>, <a href="http://github.com/rememberlenny">programmer</a>, <a href="http://blog.rememberlenny.com/">writer</a> and student. I like <%= link_to 'side projects', creations_path %>.</p>
  <p>Right now, I work at <a href="http://18f.gsa.gov">18F</a>.</p>
  <p><%= link_to 'Reach out', contact_path, :class => 'button secondary small radius' %></p>
</div>
