<div class="isup" id="consulting" data-magellan-destination="consulting">
  <div class="row">
    <div class="large-12 column ">
      <div class="">
        <h2 style="">Full-stack web developer in New York City.</h2>
        <h3>Not currently for hire.</h3>
      </div>
  </div>
</div>


