<div class="" id="consulting" data-magellan-destination="consulting">
  <div class="row">
    <div class="large-12 column text-center">
      <div class="hero independent text-center">
        <h2 style="">Full-stack web developer in New York City.</h2>
        <a href="mailto:lkbgift@gmail.com" class="button success radius small">Tell me about your project</a>
      </div>
  </div>
</div>

<ul class="large-block-grid-2 small-block-grid-1">
  <% @portfolios.reverse_each do |portfolio| %>
    <li>
      <div class="box-color">
        <img src="<%= portfolio.image %>" alt="<%= portfolio.title %>">
        <h3><%= portfolio.title %></h3>
        <p><%= portfolio.description %></p>
      </div>
    </li>
  <% end %>
</ul>
