<div class="isup" id="consulting" data-magellan-destination="consulting">
  <div class="row">
    <div class="large-12 column text-center">
      <div class="hero independent text-center">
        <h2 style="">Full-stack web developer in New York City.</h2>
        <a href="mailto:lkbgift@gmail.com" class="button success radius small">Tell me about your project</a>
      </div>
  </div>
</div>

<ul id="porfolio-contain" class="large-block-grid-2 small-block-grid-1">

</ul>
