<div class="" id="consulting" data-magellan-destination="consulting">
  <div class="row">
    <div class="large-12 column text-center">
      <div class="hero independent text-center">
        <h2 style="">Full-stack web developer in New York City.</h2>
        <a href="mailto:lkbgift@gmail.com" class="button success radius small">Tell me about your project</a>
      </div>
  </div>
</div>

<ul id="porfolio-contain" class="large-block-grid-2 small-block-grid-1">

</ul>

<script>
  (function($){
    $.getJSON('http://www.rememberlenny.com/portfolios.json', function(data){
      var items = [];
      var item;
      $.each( data, function( i, item){
        item = '<li id="' + i + '"><img src="'+item.image+'"><h3>'+item.title+'</h3><p>'+item.description+'</p></li>';
        items.push(item);
        if(i > 5){
          setTimeout(function(){
            $('#porfolio-contain').append(item);
          }, 250);
        } else {
            $('#porfolio-contain').append(item);
        }
      });
    });
  })(jQuery)

  function fillTemplate(){

  }

</script>
