  <script src="http://hackingjournalism.com/js/tabletop.js"></script>

  <style>
    #team.type-sideproject .create-item:not(.type-sideproject),
    #team.type-opensource .create-item:not(.type-opensource),
    #team.type-prototype .create-item:not(.type-prototype),
    #team.type-teaching .create-item:not(.type-teaching),
    #team.type-contract .create-item:not(.type-contract),
    #team.type-one-off .create-item:not(.type-one-off){
      display: none;
    }
    .color-type-sideproject .content-box,
    .color-type-opensource .content-box,
    .color-type-prototype .content-box,
    .color-type-teaching .content-box,
    .color-type-contract .content-box,
    .color-type-one-off .content-box{
      border-top-width: 10px;
      border-top-style: solid;
      margin-bottom: 20px;
      padding-top: 10px;
    }
    .color-type-sideproject .content-box{  border-color: hsla(127, 93%, 52%, 0.7); }
    .color-type-opensource .content-box { border-color: hsla(346, 78%, 50%, 0.7); }
    .color-type-prototype .content-box { border-color: hsla(267, 93%, 52%, 0.7); }
    .color-type-teaching .content-box { border-color: hsla(447, 93%, 52%, 0.7); }
    .color-type-contract .content-box { border-color: hsla(627, 93%, 52%, 0.7); }
    .color-type-one-off .content-box { border-color: hsla(707, 93%, 52%, 0.7); }

    @media only screen and (min-width: 40.063em) and (min-width: 64.063em){
      .medium-6 {
        width: 50% !important;
        margin: 0 auto;
      }
    }
  </style>

  <dl class="sub-nav filtering-container">
    <dt>Filter:</dt>
    <dd class="active"><a href="#">All</a></dd>
    <dd><a data-target="type-sideproject" href="#">Side Project</a></dd>
    <dd><a data-target="type-opensource" href="#">Open Source</a></dd>
    <dd><a data-target="type-prototype" href="#">Prototype</a></dd>
    <dd><a data-target="type-teaching" href="#">Teaching</a></dd>
    <dd><a data-target="type-contract" href="#">Contract</a></dd>
    <dd><a data-target="type-one-off" href="#">One-off</a></dd>
  </dl>

  <section id="team" class="container light-container content-section text-center
  ">
    <div class="row">
      <div class="col-lg-12 bios">
        <ul id="profile_container" class="large-block-grid-4 medium-block-grid-3 small-block-grid-2">
        </ul>
      </div>
    </div>
  </section>

  <!-- Core JavaScript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    $('.filtering-container dd a:not(.active)').on('click', function(e){
      e.preventDefault();
      $('.filtering-container dd.active').removeClass('active');
      $( this ).parent().addClass('active');
      var target = $( this ).data('target');
      updateClass(target);
    });

    var updateClass = function(target){
      $('#team').removeClass('type-sideproject type-one-off type-prototype type-teaching type-contract type-opensource');
      $('#team').addClass(target);
    }
  </script>

  <script type="text/javascript">

  var public_spreadsheet_url = 'https://docs.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=1MeNqxdApmPj9IUA2qTYZWe3fSwD48Qy8RhMV-h3qmfw&output=html';

  function init() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     simpleSheet: true } )
  }

  function showInfo(data, tabletop) {
    window.tableTopData = data;
    console.log(data);
    processTableTopData(data);
  }

  function processTableTopData(data){
    var content = [];
    for(i=0;i<data.length;i++){
      var accessed = data[i];
      var typeClassArray = accessed['type'].split(' ');
      var typeClass = typeClassArray.join('');
      var template =        '<div class="row color-type-' + typeClass.toLowerCase() + '">'
      template = template + ' <div class="create-item text-left type-' + typeClass.toLowerCase() + '">';
      template = template + '   <div class="content-box large-3 medium-6 medium-centered column" style="float: left;">';
      template = template + '     <a target="_blank" href="' + accessed['url'] + '"  style="height: 150px; width: 100%; background-image: url(' + accessed['image'] + '); background-postion: center; display: block; background-size:cover; ></a>';
      template = template + '   </div>';
      template = template + '   <div class="large-7 column">';
      template = template + '     <a target="_blank" href="' + accessed['url'] + '">';
      template = template + '       <h2>' + accessed['title'] + '</h2>';
      template = template + '     </a>';
      template = template + '     <label>' + accessed['type'] + '</label>';
      template = template + '     <p>' + accessed['description'] + '</p>';
      template = template + '   </div>';
      template = template + '   <div class="large-2 column"></div>';
      template = template + '   <div class="row this-is"></div>';
      template = template + '</div>';
      content.push(template);
    }
    renderData(content);
  }

  function renderData(content){
    for(i = 0; i < content.length; i++){
      var isDiv = document.createElement('div');
      isDiv.innerHTML = content[i];
      document.querySelector('#profile_container').appendChild( isDiv );
    }
  }

  (function($){
    $(document).ready(function(){init()});
  })(jQuery);

  </script>
