<header class="header large-9 large-push-3 medium-9 medium-push-3">
  <div class="large-12 column text-center">
    <div class="large-12  text-center">
      <div class="hero text-left">
        <%= link_to root_path do %>
        <h1 class="bold-header red-highlight">Remember Lenny</h1>
        <%  end %>
      </div>
    </div>
  </div>
</header>
