<div class="large-3 medium-3 column large-pull-9 medium-pull-9">
  <div class="top-nav-block">
    <h2 class="logo"><%= link_to "Lenny Bogdonoff", root_path %></h2>
    <div class="description">
      <p class="nomarginbottom"><a href="https://twitter.com/rememberlenny" class="twitter-follow-button" data-show-count="false">Follow @rememberlenny</a></p>
      <p><a href="https://github.com/rememberlenny" class="github-button">Follow @rememberlenny</a></p>
    </div>
  </div>
  <ul class="no-list-style">
    <%= render 'layouts/topnav' %>
  </ul>
</div>
