<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Remember Lenny", root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="">
        <%= link_to "Clients", work_path %>
      </li>
      <li class="divider"></li>      
      <li class=""><a href="http://lkb.cc">Blog</a></li>
      <li class="divider"></li>
      <li class="">
        <a href="mailto:lkbgift@gmail.com">Contact</a>
      </li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>